// media query
$maxSmall:"(max-width:991px)";
$minSmall:"(min-width:768px)";
$maxMopile:"(max-width:767px)";
// font color
$font1Color:#1f1f1f;
$font2Color:#fff;
$font3Color:#696464;
// hover color
$colorHover:#04bcff;
// background color
$bgColor:#222222;
// overlay color
$overlayColor:#000;
// font size
$fontSizeh2:50px;
$fontSizeh3:26px;
$fontSizep:18px;
$fontSizei:60px;